@model OrderConfirmationViewModel
<p>Congratulazioni, il tuo ordine @Model.OrderId è stato confermato!</p>
<p>L'ID della transazione è: @Model.TransactionId. Conservalo per future comunicazioni.</p>
<p><a asp-action="Index" class="btn btn-primary">Torna alla homepage</a></p>